---
title: "Google Business Profile Verification Options and Verification Status"
sidebar_label: "Google Business Profile Verification Options and Verification Status"
description: "Google offers verification through phone, text, email, or video. Please note the following: \n \n You may need to verify with more than one method. \n The availab"
zendesk_id: 18617870927639
zendesk_url: "https://marketing-services.zendesk.com/hc/en-us/articles/18617870927639-Google-Business-Profile-Verification-Options-and-Verification-Status"
updated_at: "2024-04-29T17:10:05Z"
labels: []
section_id: 18537122795415
locale: "en-us"
---

Google offers verification through phone, text, email, or video. Please note the following:

*   You may need to verify with more than one method.
*   The available methods depend on a variety of factors (Google cites business category, public information, region, and more).
*   We do not have visibility on the method that Google will select for any given business, nor can we control or change the methods available when claiming and verifying a business.

### What is the status of my Google Business Profile verification? Is my verification complete?

You can view the current status of verification in the Projects tab of your dashboard. There you can find information about any in-progress or complete work that our team is fulfilling on your behalf. You will be able to see any notes left by our team about the status, including any issues that may require a different type of verification or may be waiting on resolution from a [Google support ticket](https://marketing-services.zendesk.com/hc/en-us/articles/18618036593943).

![Projects Tab.png](./img/18617870927639-802d00bc47.png)
